.main {
  /* background-color: lightblue; */
  padding: 1rem;
}

.error-msg {
  color: red;
}

.links-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 0;
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid grey;

  color: #eeeeee;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  font-size: 1rem;
  padding: 0.55rem 1rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-create-topic {
  /* background-color: lightgreen; */
  color: DodgerBlue;
}
.btn-edit-topic {
  /* background-color: wheat; */
  color: DodgerBlue;
}
.btn-delete-topic {
  background-color: tomato;
  color: white;
}
.btn-add-link {
  padding: 0;
}
.btn-delete-link,
.btn-confirm-cancel {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
}

.btn-confirm-cancel {
  padding: 0;
}

.confirm-delete-link {
  color: MediumSeaGreen;
}

.cancel-delete-link {
  color: tomato;
}

.pagination-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.btn-pagination {
  padding: 0;
}

/* Link preview */
.link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.img-link-preview {
  max-width: 100%;
}
.link-preview-left {
  flex-basis: 60%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.link-preview-url {
}
.link-preview-buttons {
  padding-bottom: 0.5rem;
}
.link-preview-right {
  flex-basis: 35%;
}

/* Blank space to fill the space taken by confirm button for deleting links */
.blank-space {
  width: 26px;
  display: inline-block;
}

.topic-title {
  margin-bottom: 0.5rem;
}

.topic-description {
  padding: 0 0 0.5rem 0;
}

/* Forms */

form li {
  margin-top: 0.7rem;
}
.label-form {
  /* Uniform size & alignment */
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-right: 0.4rem;
}
.input-form {
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
}
