html {
  /*CSS variable for fixed header*/
  --top-spacing: 150px;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* display: flex; */
  box-sizing: border-box;
}

.column {
  /*allows both columns to span the full height of the browser window*/
  /* height: 100vh;  */
  display: flex;
  flex-direction: column; /*places the left and right headers above the bottom content*/
}
.lower {
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding-top: var(--top-spacing);
}
.content {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
  align-items: center;
}

.required::after {
  content: " * ";
  color: red;
  display: inline;
}

.container-center {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

/* Media queries  */
@media (max-width: 505px) {
  .ribbon {
    display: none;
  }
}
@media (max-width: 680px) {
}

@media (max-width: 767px) {
  html {
    /*CSS variable for fixed header*/
    --top-spacing: 90px;
  }
  .lower {
    height: 90vh;
  }
  .top {
    padding: 10px;
  }
  .header-container {
    font-size: small;
  }
  #site-title {
    font-size: 1.2rem;
    margin-left: 8%;
  }
  .topic-title {
    font-size: medium;
  }
  .topic-description {
    font-size: small;
  }

  .user-container {
    margin-right: 10%;
  }
  .sidebar-items {
    font-size: smaller;
  }

  /* width of links container */
  .links-list {
    margin-top: 0;
    width: 85%;
    font-size: smaller;
  }
  .links-list img {
    width: 85%;
  }
  /* shorten top margin of  link boxes */
  .link-container {
    margin-top: 0.9rem;
  }
  #mobile-menu-checkbox {
    display: none;
  }
  /* reduce link-preview image size */
  .link-preview-right {
    flex-basis: 30%;
  }

  .btn {
    padding: 4px 6px;
    font-size: 84%;
    line-height: 1;
  }
  .btn-pagination {
    font-size: 130%;
  }
  .Modal {
    margin: 10% 5%;
  }

  /* toggle mobile menu */
  label[for="mobile-menu-checkbox"] {
    display: block;
  }
  #mobile-menu-checkbox:not(:checked) ~ .sidebar {
    display: none;
  }
  .sidebar {
    width: 120px;
    padding: 0;
    animation-name: sidebar-show;
    animation-duration: 300ms;
  }
  /* Move main content to right */
  #mobile-menu-checkbox:checked ~ .main {
    width: auto;
    left: 120px;
    animation-name: sidebar-show;
    animation-duration: 300ms;
  }
  #mobile-menu-checkbox:checked ~ .main .topic-buttons-container {
    display: flex;
    flex-direction: column;
    animation-name: sidebar-show;
    animation-duration: 300ms;
  }

  /* #mobile-menu-checkbox:checked ~ .main .btn-delete-topic {
    font-size: 0;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
  }
  #mobile-menu-checkbox:checked ~ .main .btn-delete-topic::before {
    width: 12px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -8px;
    left: 0px;
  }
  #mobile-menu-checkbox:checked ~ .main .btn-delete-topic::after,
  #mobile-menu-checkbox:checked ~ .main .btn-delete-topic::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }
  #mobile-menu-checkbox:checked ~ .main .btn-delete-topic::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
  }

  #mobile-menu-checkbox:checked ~ .main .btn-edit-topic {
    font-size: 0;

    box-sizing: border-box;
    position: relative;
    transform: rotate(-45deg) scale(var(--ggs, 1));
    width: 14px;
    height: 4px;
    border-right: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: -2px;
    color: gray;
  } */

  @keyframes sidebar-show {
    from {
      margin-left: -500px;
    }

    /* 99% {
      margin-left: -5px
    } */
    to {
      margin-left: 0px;
    }
  }
}

.sidebar-items a,
.sidebar-items a:visited {
  color: DodgerBlue;
}
.main-container a,
.main-container a:visited {
  color: DodgerBlue;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline dotted;
}

li {
  list-style-type: none;
}
