html {
  /*CSS variable for fixed header*/
  --top-spacing: 150px;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* display: flex; */
  box-sizing: border-box;
}

.column {
  height: 100vh; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column; /*places the left and right headers above the bottom content*/
}
.lower {
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding-top: var(--top-spacing);
}
.content {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
  align-items: center;
}


/* Media queries  */
@media (max-width: 505px) {
  .ribbon {
    display: none;
  }
  
}
@media (max-width: 680px){
  
}

@media (max-width: 767px) {
  #mobile-menu-checkbox {
    display: none;
  }
  /* toggle mobile menu */
  label[for="mobile-menu-checkbox"] {
    display: block;
  }
  #mobile-menu-checkbox:not(:checked) ~ .sidebar {
    display: none;
  }
  .btn {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}
